/* Styles */
body {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 470px;
  max-width: 470px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

nav {
  padding: 15px 20px 15px 0;
}

.colorful {
  color: #ff59ac;
}

.colorful::first-letter {
  font-size: 20px;
}

.toolbar {
  padding: 10px 0 10px 0;
}

button {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  padding: 20px 25px;
  // box-shadow: 0 0 5px rgba(0,0,0,.8);
  z-index: 0;
  border: 0px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
button:hover {
  box-shadow: 0 0 5px rgba(0,0,0,.4);
  z-index: 11;
}

button.start {
  background-color: #74d941;
}
button.stop {
  background-color: #ff4c23;
}

h2 {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

a {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
a:visited {
  color: inherit;
}

/* Grid styles */
.grid {
  // border: 1px solid grey;
  line-height: normal;
}
.row {
  display: flex;
}
.cell {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #ccc;
}
.cell.live {
  background-color: #333;
  border-color: #444;
}
.live:nth-child(n+0):nth-child(-n+2) {
  background-color: #ff4c23;
}
.live:nth-child(n+3):nth-child(-n+5) {
  background-color: #ff7919;
}
.live:nth-child(n+6):nth-child(-n+8) {
  background-color: #ff9f19;
}
.live:nth-child(n+9):nth-child(-n+11) {
  background-color: #ebc50c;
}
.live:nth-child(n+12):nth-child(-n+14) {
  background-color: #e6d739;
}
.live:nth-child(n+15):nth-child(-n+17) {
  background-color: #74d941;
}
.live:nth-child(n+18):nth-child(-n+20) {
  background-color: #0c4;
}
.live:nth-child(n+21):nth-child(-n+23) {
  background-color: #49c8f2;
}
.live:nth-child(n+24):nth-child(-n+26) {
  background-color: #3d99f5;
}
.live:nth-child(n+27):nth-child(-n+29) {
  background-color: #7961f2;
}
.live:nth-child(n+30):nth-child(-n+32) {
  background-color: #96f;
}
.live:nth-child(n+31):nth-child(-n+33) {
  background-color: #b366ff;
}
.live:nth-child(n+34):nth-child(-n+36) {
  background-color: #ff59ac;
}
.live:nth-child(n+37):nth-child(-n+39) {
  background-color: #ff5975;
}
